
body{
  font-family: "Sora", Helvetica;
}

a {
  color: #000;
}

.homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.homepage .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 5047px;
  position: relative;
}

.homepage .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 651px;
  padding: 24px 121px;
  position: absolute;
  top: 0;
  left: -2px;
  background-color: #ffffff;
}

.homepage .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Sora-Bold", Helvetica;
  font-weight: 700;
  color: #322a44;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.homepage .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #322a44;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}
a:hover {
  text-decoration: underline;
}

.homepage .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  padding: 1px 4px;
  position: relative;
  background-color: #ffffff;
  flex: 0 0 auto;
  border-radius: 40px;
  border-color:#ff53ff;
}


.homepage .text-wrapper-3 {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgb(112.05, 48.52, 255) 0%,
    rgb(255, 83.23, 255) 100%);

  border-radius: 25px; /* Rounded radius */
  cursor: pointer;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}
a:hover {
  color: yellow;
   /* font-size: 18px; */
 }
.overflow-hidden {
  overflow: hidden;
}

.hover-anim img{
  transition: all 0.3s ease-in-out;
}

.hover-anim:hover img{
  transform: scale(1.2);
}
.homepage .arrow-up-right {
  position: relative;
  width: 24px;
  height: 24px;
}

.homepage .text-wrapper-4 {
  position: absolute;
  top: 1270px;
  left: 118px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #322a44;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.homepage .frame-4 {
  display: flex;
  flex-direction: column;
  width: 831px;
  align-items: flex-start;
  gap: 36px;
  position: absolute;
  top: 193px;
  left: 118px;
}

.homepage .group {
  position: relative;
  width: 729.68px;
  height: 166.68px;
}

.homepage .overlap-group {
  position: relative;
  width: 730px;
  height: 167px;
}

.homepage .mask-group {
  position: absolute;
  width: 167px;
  height: 167px;
  top: 0;
  left: 563px;
}

.homepage .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 26px;
  position: absolute;
  top: 60px;
  left: 0;
}

.homepage .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #312943;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 96px;
  white-space: nowrap;
}

.homepage .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #322a44;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 96px;
  white-space: nowrap;
}

.homepage .overlap-wrapper {
  position: relative;
  width: 833px;
  height: 288px;
  margin-right: -2.00px;
}

.homepage .overlap {
  position: relative;
  width: 831px;
  height: 288px;
}

.homepage .p {
  position: absolute;
  width: 831px;
  top: 0;
  left: 0;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #312943;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 72px;
}

.homepage .star {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 229px;
  left: 315px;
}

.homepage .overlap-2 {
  position: absolute;
  width: 488px;
  height: 552px;
  top: 1363px;
  left: 120px;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgb(221, 255, 187) 0%,
    rgb(199, 233, 176) 100%
  );
}

.homepage .groupm {
  position: absolute;
  width: 486px;
  height: 548px;
  top: 4px;
  left: 0;
  
}
.homepage .kirtipurapp {
  position: absolute;
  width: 486px;
  height: 548px;
  top: 4px;
  left: 0;
  
}

.homepage .groupm .zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.nav-link:hover {
  color: yellow;
  font-size: 18px;
}


.homepage .groupm .zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.homepage .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: 12px;
  left: 162px;
}

.homepage .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #11111199;
  border-radius: 20px;
  backdrop-filter: blur(8px) brightness(100%);
  -webkit-backdrop-filter: blur(8px) brightness(100%);
}

.homepage .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Sora", Helvetica;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.homepage .overlap-3 {
  position: absolute;
  width: 488px;
  height: 552px;
  top: 1932px;
  right: 120px;
  background-color: #444444;
  border-radius: 20px;
}

.homepage .overlap-group-wrapper {
  position: absolute;
  width: 452px;
  height: 552px;
  top: 0;
  left: 18px;
}

.homepage .overlap-group-2 {
  position: relative;
  height: 552px;
}

.homepage .group-2 {
  position: absolute;
  width: 337px;
  height: 552px;
  top: 0;
  left: 115px;
}

.homepage .group-3 {
  position: absolute;
  width: 337px;
  height: 126px;
  top: 426px;
  left: 0;
  background-image: url(./img/image-12.png);
  background-size: cover;
  background-position: 50% 50%;
}

.homepage .group-wrapper {
  position: absolute;
  width: 337px;
  height: 426px;
  top: 0;
  left: 0;
}

.homepage .group-4 {
  position: relative;
  height: 426px;
}

.homepage .image {
  width: 337px;
  height: 116px;
  top: 0;
  position: absolute;
  left: 0;
}

.homepage .img {
  width: 337px;
  height: 170px;
  top: 116px;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.homepage .image-2 {
  width: 337px;
  height: 141px;
  top: 286px;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.homepage .group-5 {
  position: absolute;
  width: 290px;
  height: 403px;
  top: 149px;
  left: 0;
  box-shadow:
    1px -6px 12px #0000001a, 3px -22px 22px #00000017, 6px -50px 30px #0000000d, 10px -88px 36px #00000003, 16px -138px 39px transparent;
}

.homepage .group-6 {
  position: relative;
  height: 403px;
}

.homepage .image-3 {
  width: 455px;
  height: 560px;
  bottom:-7px;
  left: -12px;
  object-fit: cover;
  position: absolute;
}

.homepage .image-4 {
  width: 290px;
  height: 140px;
  top: 142px;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.homepage .image-5 {
  width: 290px;
  height: 121px;
  top: 282px;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.homepage .frame-7 {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: 8px;
  left: 235px;
}

.homepage .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.homepage .overlap-4 {
    position: absolute;
    width: 488px;
    height: 552px;
    top: 2507px;
    left: 120px;
    background-color: #444444;
    border-radius: 20px;
  }

.homepage .group-7 {
  position: absolute;
  width: 399px;
  height: 552px;
  top: 0;
  left: 40px;
}

.homepage .img-2 {
  width: 399px;
  height: 552px;
  top: 0;
  left:40px;
  position: absolute;
}

.homepage .img-3 {
  height: 91px;
  top: 461px;
  left: 216px;
  position: absolute;
  width: 183px;
}

.homepage .result-page {
  position: absolute;
  width: 183px;
  height: 358px;
  top: 194px;
  left: 0;
}

.homepage .frame-8 {
  position: absolute;
  width: 183px;
  height: 399px;
  top: 52px;
  left: 216px;
  object-fit: cover;
}

.homepage .frame-9 {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: 8px;
  left: 54px;
}

.homepage .overlap-5 {
  position: absolute;
  width: 692px;
  height: 552px;
  top: 1367px;
  left: 628px;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgb(228, 245, 229) 0%,
    rgb(171, 237, 216) 100%
  );
}

.homepage .group-8 {
  position: absolute;
  width: 681px;
  height: 440px;
  top: 112px;
  left: 0;
}

.homepage .overlap-6 {
  position: relative;
  height: 440px;
}

.homepage .mock {
  position: absolute;
  width: 651px;
  height: 440px;
  top: 0;
  left: 0;
}

.homepage .mock .zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}


.homepage .iphone-pro-front {
  position: absolute;
  width: 146px;
  height: 296px;
  top: 144px;
  left: 535px;
}

.homepage .frame-10 {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: 8px;
  left: 251px;
}

.homepage .overlap-7 {
  position: absolute;
  width: 692px;
  height: 553px;
  top: 2508px;
  left: 628px;
}

.homepage .rectangle {
  position: absolute;
  width: 692px;
  height: 552px;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgb(92, 194, 242) 0%,
    rgb(25, 27, 169) 100%
  );
}

.homepage .group-9 {
  position: absolute;
  width: 637px;
  height: 553px;
  top: 0;
  left: 55px;
}

.homepage .overlap-8 {
  position: relative;
  width: 653px;
  height: 570px;
  top: -10px;
  left: -16px;
}

.homepage .INVESMENT-PAGE {
  position: absolute;
  width: 272px;
  height: 552px;
  top: 10px;
  left: 381px;
}

.homepage .home {
  position: absolute;
  width: 655px;
  height: 630px;
  top: -30px;
  left: 3px;
}

.homepage .frame-11 {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: 11px;
  left: 14px;
}

.homepage .overlap-9 {
  position: absolute;
  width: 692px;
  height: 552px;
  top: 1935px;
  left: 120px;
  border-radius: 20px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(226, 110, 229) 0%,
    rgb(126, 48, 225) 100%
  );
}

.homepage .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: 8px;
  left: 361px;
}

.homepage .group-10 {
  position: absolute;
  width: 608px;
  height: 439px;
  top: 74px;
  left: 42px;
  object-fit: cover;
}

.homepage .group-11 {
  position: absolute;
  width: 1442px;
  height: 1290px;
  top: 3183px;
  left: 0;
}

.homepage .overlap-10 {
  position: relative;
  width: 1440px;
  height: 1290px;
  background-color: #f8f8f8;
}

.homepage .overlap-group-3 {
  position: absolute;
  width: 387px;
  height: 390px;
  top: 684px;
  left: 120px;
}

.homepage .rectangle-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 221px;
  left: 220px;
  background-color: #d9d9d9;
}

.homepage .mask-group-2 {
  height: 390px;
  top: 0;
  left: 0;
  position: absolute;
  width: 387px;
}

.homepage .mask-group-3 {
  height: 390px;
  top: 274px;
  left: 120px;
  position: absolute;
  width: 387px;
}

.homepage .overlap-11 {
  position: absolute;
  width: 1199px;
  height: 98px;
  top: 1094px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 20px;
}

.homepage .frame-13 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 18px;
  left: 24px;
}

.homepage .capa {
  position: relative;
  width: 62px;
  height: 62px;
}

.homepage .instagram-original {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 10px;
  left: 10px;
}

.homepage .frame-14 {
  display: flex;
  flex-direction: column;
  width: 356px;
  align-items: flex-start;
  position: relative;
}

.homepage .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #322a44;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.homepage .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}
a:hover {
  color: #7031FF ;
}

.homepage .vuesax-outline-arrow {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 27px;
  left: 1136px;
}

.homepage .mask-group-4 {
  height: 390px;
  top: 274px;
  left: 526px;
  position: absolute;
  width: 387px;
}

.homepage .mask-group-5 {
  height: 390px;
  top: 684px;
  left: 526px;
  position: absolute;
  width: 387px;
}

.homepage .mask-group-6 {
  height: 800px;
  top: 274px;
  left: 932px;
  position: absolute;
  width: 387px;
}

.homepage .a-simple-hobby-that {
  position: absolute;
  width: 691px;
  top: 112px;
  left: 374px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #322a44;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
}

.homepage .group-12 {
  position: absolute;
  width: 1200px;
  height: 414px;
  top: 4513px;
  left: 118px;
}

.homepage .frame-15 {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.homepage .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #3d3d3d;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.homepage .text-wrapper-12 {
  position: relative;
  width: 137px;
  height: 31px;
  font-family: "Sora", Helvetica;
  color: #3d3d3d;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}
a:hover {
  color: #7031FF ;
}

.homepage .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 338px;
  align-items: flex-start;
  gap: 10px;
  padding: 29px 28px;
  position: absolute;
  top: 76px;
  left: 0;
  background-color: #141414;
  border-radius: 30px;
}

.homepage .frame-16 {
  display: flex;
  flex-direction: column;
  width: 1143px;
  align-items: flex-start;
  gap: 100px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .frame-17 {
  display: flex;
  flex-direction: column;
  width: 665.33px;
  align-items: flex-start;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .frame-18 {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 30px;
}
.homepage .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -0.46px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  background:#ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.homepage .frame-19 {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-weight: bold;
 background: white;
background-color: black;
   border: 2px solid #1579D6;
  border-radius: 25px; /* Rounded radius */
  cursor: pointer;
  }

.frame-19:hover {
  background-color: #1579D6;
  text-decoration-color: white; 
}



.homepage .frame-20 {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
background-color: black;
   border: 2px solid #FF58A6;
  border-radius: 25px; /* Rounded radius */
  cursor: pointer;
}
.frame-20:hover {
  background-color: #FF58A6; 
  text-decoration-color: white; 
}

.homepage .frame-21 {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: white;
   border: 2px solid #e75026;
  border-radius: 25px; /* Rounded radius */
  cursor: pointer;
}
.frame-21:hover {
  background-color: #e75026; 
  text-decoration-color: white; 
}

.homepage .frame-22 {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: white;
   border: 2px solid #d8d8d8;
  border-radius: 25px; /* Rounded radius */
  cursor: pointer;
}

.frame-22:hover {
  background-color: #d8d8d8; 
  text-decoration-color: #d8d8d8; 
}

.homepage .frame-23 {
  display: flex;
  flex-direction: column;
  width: 243px;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .frame-24 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .img-4 {
  position: relative;
  width: 24px;
  height: 24px;
}

.homepage .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #fff5f5;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.homepage .frame-25 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .frame-26 {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  overflow: hidden;
}

.homepage .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.2;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #fff5f5;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 54px;
  white-space: nowrap;
}
.scroll-text {
  display: inline-block;
  animation: scroll 10s linear infinite; /* Smooth scrolling */
}

.homepage .group-13 {
  position: absolute;
  width: 1204px;
  height: 372px;
  top: 802px;
  left: 119px;
}

.homepage .overlap-12 {
  position: relative;
  width: 1200px;
  height: 372px;
}

.homepage .rectangle-3 {
  position: absolute;
  width: 1200px;
  height: 369px;
  top: 0;
  left: 0;
  background-color: #3d3d3d;
  border-radius: 30px;
}

.homepage .text-wrapper-16 {
  position: absolute;
  top: 47px;
  left: 55px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #fff5f5;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.homepage .text-wrapper-17 {
  position: absolute;
  width: 610px;
  top: 57px;
  left: 509px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #fff5f5;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.homepage .frame-27 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 225px;
  left: 86px;
  background-color: #ff7545;
  border-radius: 30px;
  transform: rotate(-22.23deg);
}

.homepage .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #3d3d3d;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.homepage .frame-28 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 297px;
  left: 406px;
  background-color: #5cfd8a;
  border-radius: 30px;
  transform: rotate(15.25deg);
}

.homepage .frame-29 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 309px;
  left: 26px;
  background-color: #c797ff;
  border-radius: 30px;
}

.homepage .frame-30 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 251px;
  left: 261px;
  background-color: #ff94ff;
  border-radius: 30px;
}

.homepage .frame-31 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 253px;
  left: 947px;
  background-color: #73efdc;
  border-radius: 30px;
}

.homepage .frame-32 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 195px;
  left: 300px;
  background-color: #ffd494;
  border-radius: 30px;
}

.homepage .frame-33 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 309px;
  left: 236px;
  background-color: #ffe757;
  border-radius: 30px;
}

.homepage .frame-34 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 261px;
  left: 671px;
  background-color: #a6e7ff;
  border-radius: 30px;
  transform: rotate(-16.92deg);
}

.homepage .frame-35 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 309px;
  left: 837px;
  background-color: #ffffff;
  border-radius: 30px;
}

.homepage .frame-36 {
  position: absolute;
  width: 83px;
  height: 83px;
  top: 230px;
  left: 1110px;
}

.homepage .frame-37 {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 242px;
  left: 26px;
}

.homepage .frame-38 {
  position: absolute;
  width: 81px;
  height: 81px;
  top: 177px;
  left: 907px;
}

.homepage .frame-39 {
  position: absolute;
  width: 81px;
  height: 81px;
  top: 291px;
  left: 585px;
}

.frame-19 .text-wrapper-13 a{
  text-decoration: none;
  background-color: transparent;
  color: white;
}
.frame-19 .text-wrapper-13 {
  background-color: transparent;
  color: white;
}

.frame-20 .text-wrapper-13 a{
  text-decoration: none;
  background-color: transparent;
  color: white;
}
.frame-20 .text-wrapper-13 {
  background-color: transparent;
  color: white;;
}

.frame-21 .text-wrapper-13 a{
  text-decoration: none;
  background-color: transparent;
  color: white;
}
.frame-21 .text-wrapper-13 {
  background-color: transparent;
  color: white;
}


.frame-22 .text-wrapper-13 a{
  text-decoration: none;
  background-color: transparent;
  color: white;
}
.frame-22 .text-wrapper-13 {
  background-color: transparent;
  color: white;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  will-change: transform;
  opacity: 0.2;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #fff5f5;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 54px;
  white-space: nowrap;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}